.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
li{
  font-size:25px;
  color:white;
  
}

body {
  background-color: orange;
  
}

h1 {
  color:white;
}

img {
  border-style: inset;
  border-color: white;
}